*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* colors */
    --firstcol: #3f97da;
    --secondcol: #ffffff;
    --thirdcol: #333;
    --fourthcol: #2d3840;
    --fifthcol: #ffc0cb5e;
    --sixthcol: rgb(63, 151, 218);
    --seventhcol: #000000;
    --eightcol: #333333;

    /* font & typography */
    --font1: "Poppins", sans-serif;
    /* --font1: 400;
    --font1: normal; */
    --font2: "Merriweather", serif;

    /* font & typography 2 */
    --fontnormal: 1rem;
    --fontmedium: ;
    --fontsemi-bold: ;
    --fontbold: ;
}

/* Page/ general Stylings */
html{
    scroll-behavior: smooth;
}
.mainbody{
}
h1, h2, h3, h4, h5{
}
h1{
}
h2{
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
button{
}
link{
}
button{
    padding: 0;
    margin: 0;
}


/* Nav Styling */

nav{
    padding: 25px 60px;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: 100vw;
    border-bottom-color: var(--firstcol);
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 100;
    background-color: var(--secondcol);
}
.naviga{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navilist{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
    /* background-color: #ffffff; */
}
.navisea{
    display: flex;
    align-items: center;
    gap: 30px;
}
.naviicon{
    width: 20px;
}
.navibutton{
    padding: 12px 20px;
    font-family: var(--font1);
    font-weight: 600;
    font-size: 14px;
    border-color: var(--firstcol);
    background-color: var(--secondcol);
}

/* Hero Section Styling */
.hersec{
    position: relative;
    margin-top: 100px;
    background-image: url(/Assets/Home\ Hero.jpg);
    height: 136vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.herodiv{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 0px;
    float: right;
}
.herodiv h1{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 60px;
    color: var(--secondcol);
    font-style: normal;
}
.herodiv p{
    font-family: var(--font1);
    font-weight: normal;
    font-size: 18px;
    color: var(--secondcol);
    font-style: normal;
    line-height: 1.67;
}
.herodiv button{
    padding: 13px 35px;
    background-color: transparent;
    border: 2px solid var(--firstcol);
}
.buttt{
    color: var(--secondcol);
    font-family: var(--font1);
    font-size: 14px;
    font-weight: normal;
}

/* Open Book Section */
.openbook{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -100px;
}
.openbook1{
    display: flex;
    height: 67vh;
    width: 1140px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.openhours{
    width: 31%;
    background-color: var(--sixthcol);
    display: flex;
    flex-direction: column;
}
.openhours1{
    height: 25%;
    background-color: var(--eightcol);
    display: flex;
}
.openhours11{
    width: 22%;
    background-color: var(--firstcol);
    display: flex;
    align-items: center;
    justify-content: center;
}
.openhours11 img{
    width: 70%;
    color: #ffffff;
}
.openhours12{
    width: 78%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.openhours12 h2{
    color: var(--secondcol);
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 600;
}
.openhours2{
    height: 90%;
    padding: 20px 40px 40px 30px;
}
.openhours2 table{
    height: 100%;
    width: 100%;
}
.openhours2 table tr{
    color: var(--secondcol);
    font-family: var(--font1);
    font-size: 14px;
    margin-bottom: 30px;
    border-bottom: 1px solid #61ace4;
}
.bookapp{
    width: 69%;
    background-color: var(--secondcol);
}
.bookapp1{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px;
    /* align-items: center; */
    /* background-color: #9ac7ea; */
    height: 100%;
}
.bookapp1 h1{
    font-family: var(--font1);
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin: 0;
    padding: 0;
    align-self: center;
}
.lineee{
    width: 120px;
    background-size: cover;
    height: 21px;
    margin-top: 15px;
    align-self: center;
}
.formm{
    margin-top: 40px;
    display: flex;
    gap: 30px;
}
.formmmm{
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formm1{
    width: 100%;
    border-width: 1px;
    border-color: #00000038;
}
.formm1[placeholder] {
    color: #00000066;
    padding-left: 10px;
}
.formmm{
    display: flex;
}
.formmicon{
    background-color: var(--firstcol);
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formm2{
    width: 60%;
}
.formm22{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#textareaa{
    width: auto;
    height: 29vh;
    border-color: #00000038;
}
.textareabutton{
    margin-top: 10px;
    padding: 10px 50px;
    color: var(--seventhcol);
    font-family: var(--font1);
    font-weight: 600;
    background-color: var(--secondcol);
    border: 2px solid var(--firstcol);
}
.formm22 div{
    display: flex;
    justify-content: right;
}

/* Department Section */
.dept{
    padding: 100px 0px 100px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dept1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.dept1 h1{
    color: var(--eightcol);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 36px;
}
.deptgrid{
    width: 100%;
    display: grid;
    grid-template-columns: 31.58% 31.58% 31.58%;
    column-gap: 30px;
    row-gap: 100px;
    margin-top: 120px;
}
.griditems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 40px 20px 40px;
    position: relative;
    border: 1px solid #00000038;
}
.gridbott{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridimage{
    background-color: var(--firstcol);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.griditems h2{
    color: var(--eightcol);
    font-family: var(--font1);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}
.griditems p{
    color: #666666;
    font-family: var(--font1);
    font-size: 14.5px;
    font-weight: normal;
    text-align: center;
    line-height: 1.71;
}

/* Our Doctors Section */
.doctors{
    background-image: url(/Assets/background2.png);
}
.doct{
    padding: 80px 0px 150px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.doct1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.doct1 h1{
    color: var(--secondcol);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 36px;
}
.docgrid{
    width: 100%;
    display: grid;
    grid-template-columns: 23.03% 23.03% 23.03% 23.03%;
    column-gap: 30px;
    row-gap: 100px;
    margin-top: 70px;
}
.docgrid3{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: var(--secondcol);
}
.docgrid3img{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--eightcol);
}
.docgrid31{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.docgrid3 h3{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin: 0;
}
.docgrid3 p{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 12px;
    color: var(--firstcol);
    margin: 0;
}

/* Our Services Section */
.serv{
    padding: 100px 0px 100px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.serv h1{
    color: var(--eightcol);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 36px;
}
.servgrid{
    width: 100%;
    display: grid;
    grid-template-columns: 31.58% 31.58% 31.58%;
    column-gap: 30px;
    row-gap: 100px;
    margin-top: 120px;
}
.servgrid3{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--eightcol);
}
.docgrid3img{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--eightcol);
}
.docgrid31{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.servgrid3 h3{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin: 0;
}
.sevgrid3 p{
    font-family: var(--font1);
    font-weight: 600;
    font-size: 12px;
    color: var(--firstcol);
    margin: 0;
}
.griditemss{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid #00000038;
}
.gridbott{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridimage{
    background-color: var(--firstcol);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.griditems h2{
    color: var(--eightcol);
    font-family: var(--font1);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}
.griditems p{
    color: #666666;
    font-family: var(--font1);
    font-size: 14.5px;
    font-weight: normal;
    text-align: center;
    line-height: 1.71;
}